{% load static %}
<header class="navbar">
  <div class="left-section">
    <a href="{% url 'index' %}" class="logo">
        <img src="{% static  'images/yellow-book-illustration-png.webp' %}" alt="Logo">
    </a>
    <div class="auth-link">
            {% if request.user.is_staff %}
            <a href="{% url 'book-create' %}">Add Book</a>
            {% endif %}   
    </div>
  </div>
    
  <div class="middle-section">
        <h1>Book Nest</h1>
  </div>

  <div class="right-section">
    {% if user.is_authenticated %}
        <div class="auth-link">
            <a href="{% url 'catalog' %}">Catalogue</a>
            <a href="{% url 'user-profile-page' %}">Profile</a>
            <a href="{% url 'user-logout' %}">Logout</a>
        </div>
    {% else %}
        <div class="auth-link">
            <a href="{% url 'user-login' %}">Login</a>
            <a href="{% url 'user-register' %}">Register</a>
        </div>
    {% endif %}
  </div>
</header>