{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/books/book-create.css' %}">
</head>
<body>
{% include 'base/navigation.html' %}

    <div class="book-form-container">
    <div class="form-container">
         <h2 class="book-create-title">Create Book</h2>
         <form class="book-create-form" method="post" action="{% url 'book-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="create-button" >Create</button>
         </form>
    </div>   
    </div>    
</body>
</html>